body {
  height: auto !important;
}

.container--main-header{top: 25px !important;}
.classified__header{top: calc(3.75em + 25px) !important;}

#vstoolbox-host {
  position: sticky;
  top: 0px;
  z-index: 10000;
}
